<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SerialRegionCodes</key>
	<array>
		<string>CN</string>
		<string>US</string>
		<string>EU</string>
		<string>KR</string>
		<string>TW</string>
	</array>
	<key>UI_ShowAuthenticator</key>
	<dict>
		<key>UI_SA_Resync_NotWorking</key>
		<string>Not working?</string>
		<key>UI_SA_Resync_TryResyncing</key>
		<string>Try Resyncing.</string>
		<key>UI_SA_Resync_Resyncing</key>
		<string>Resyncing...</string>
		<key>UI_SA_Resync_SyncComplete</key>
		<string>Sync complete.</string>
		<key>UI_SA_Resync_StillNotWorking</key>
		<string>Still not working?</string>
	</dict>
	<key>UI_ViewRestoreCode</key>
	<dict>
		<key>UI_VRC_SaveScreenshot_Message</key>
		<string>Screenshot saved</string>
		<key>UI_VRC_SaveScreenshot_CancelButton</key>
		<string>OK</string>
	</dict>
	<key>UI_ResetAuthenticator</key>
	<dict>
		<key>UI_RA_Reset_Message</key>
		<string>The authenticator keys from your device will be erased. Continue?</string>
		<key>UI_RA_Reset_Cancel</key>
		<string>Cancel</string>
		<key>UI_RA_Reset_Reset</key>
		<string>Reset</string>
	</dict>
	<key>UI_Processing</key>
	<dict>
		<key>UI_Processing_Resetting</key>
		<string>Resetting...</string>
		<key>UI_Processing_SettingUp</key>
		<string>Setting Up...</string>
		<key>UI_Processing_Restore</key>
		<string>Restoring...</string>
	</dict>
	<key>UI_SetUpAuthenticator</key>
	<dict>
		<key>UI_SUA_BMA_LinkText</key>
		<string>battle.net/bma</string>
		<key>UI_SUA_BMA_LinkURL</key>
		<string>https://www.battle.net/bma</string>
		<key>UI_SUA_Instruction</key>
		<string>1. Go to %@ and click Continue to Account Management.

2. Click Attach Authenticator in the Battle.net Mobile Authenticator section.

3. Follow the instructions on the website.</string>
	</dict>
	<key>UI_SetUpAuthenticatorDone</key>
	<dict>
		<key>UI_SUAD_SaveScreenshot_Message</key>
		<string>Screenshot saved</string>
		<key>UI_SUAD_SaveScreenshot_CancelButton</key>
		<string>OK</string>
	</dict>
	<key>UI_RestoreWithRestoreCode</key>
	<dict>
		<key>UI_RWRC_NotComplete_AlertViewMessage</key>
		<string>Please fill out the required fields before you press Submit.</string>
		<key>UI_RWRC_NotComplete_AlertViewCancel</key>
		<string>OK</string>
	</dict>
</dict>
</plist>
