<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>HelpTitle</key>
		<string>什么是还原密码？</string>
		<key>HelpBody</key>
		<string>您可以使用上一次安装时记录的还原密码及序列号，将战网安全令应用还原至之前的状态。
下列情况发生时，您可能会需要使用此功能：

•您更换了新的手机。
•您当前的手机需要还原至出厂设置。</string>
		<key>HelpLinks</key>
		<array/>
	</dict>
	<dict>
		<key>HelpTitle</key>
		<string>什么是云同步？</string>
		<key>HelpBody</key>
		<string>云同步功能将在#$iCloud钥匙串#$上备份您的安全令，以便您在更换新的设备时安装并恢复安全令时使用。要想打开此功能，您需要先开启iCloud钥匙串。</string>
		<key>HelpLinks</key>
		<array>
			<string>https://support.apple.com/zh-cn/HT204085</string>
		</array>
	</dict>
	<dict>
		<key>HelpTitle</key>
		<string>我应当如何安全地解除安全令的绑定？</string>
		<key>HelpBody</key>
		<string>1. 打开网页：#$battlenet.com.cn/support/zh/article/537#2#$
2. 按照网页上的介绍进行操作。</string>
		<key>HelpLinks</key>
		<array>
			<string>https://www.battlenet.com.cn/support/zh/article/537#2</string>
		</array>
	</dict>
	<dict>
		<key>HelpTitle</key>
		<string>由于安全令操作无法登录战网账号？</string>
		<key>HelpBody</key>
		<string>1. 如果您已经存储了还原密码和序列号，可以将您的安全令恢复至以前的版本，然后使用安全令登录。

2. 如果您开通了短信保护功能，您可以访问账号恢复页面，输入您的注册邮箱地址，然后选择“使用短信保护”解锁您的账号。</string>
		<key>HelpLinks</key>
		<array/>
	</dict>
	<dict>
		<key>HelpTitle</key>
		<string>需要进一步的帮助？</string>
		<key>HelpBody</key>
		<string>如果您需要关于战网手机安全令的更多帮助，请联系暴雪客服：

• 美洲、欧洲、韩国、台湾：
#$https://battle.net/support/#$
• 中国大陆：
#$https://www.battlenet.com.cn/support/#$</string>
		<key>HelpLinks</key>
		<array>
			<string>https://www.battle.net/support/</string>
			<string>https://www.battlenet.com.cn/support/</string>
		</array>
	</dict>
</array>
</plist>
